<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
	"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
	"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<!-- 该文件用于配置连接数据的种类,用户名，密码,ul ,驱动.. 连接池,二级缓存.. 有点类似strus  struts-config.xml -->
<hibernate-configuration>
	<session-factory>
		<property name="connection.driver_class">oracle.jdbc.driver.OracleDriver</property>
		<property name="connection.url">jdbc:oracle:thin:@127.0.0.1:1521:orahsp8</property>
		<property name="connection.username">scott</property>
		<property name="connection.password">tiger</property>
		<!-- 配置显示hibernate生成的 sql ,特别说明，在开发阶段设为true利于调试，在使用项目则设为false-->
		<property name="show_sql">true</property>
		<!-- 下面的配置表示支持 通过 getCurrentSession()获取session
		这样session在通过一线程中始终是一个，这样利于事务的控制 -->
		<!--  <property name="current_session_context_class">thread</property>
		-->
		<!-- hbm2ddl.atuo 这个属性可以帮你自动完成 类-映射文件-数据库 -->
		<property name="hbm2ddl.auto">create</property>
		<!-- 配置数据库的方言/ -->
		<property name="dialect">org.hibernate.dialect.OracleDialect</property>
		<!-- 配置管理的对象映射文件 -->
		<mapping resource="com/hsp/domain/Employee.hbm.xml"/>
	</session-factory>
</hibernate-configuration>